body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:527px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  position:absolute;
  left:46px;
  top:17px;
  width:250px;
  height:527px;
}
#u465 {
  position:absolute;
  left:2px;
  top:256px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:524px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:47px;
  top:18px;
  width:247px;
  height:524px;
}
#u468 {
  position:absolute;
  left:2px;
  top:254px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:426px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:51px;
  top:65px;
  width:239px;
  height:426px;
}
#u470 {
  position:absolute;
  left:2px;
  top:205px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  position:absolute;
  left:115px;
  top:37px;
  width:112px;
  height:7px;
}
#u472 {
  position:absolute;
  left:2px;
  top:-4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  position:absolute;
  left:115px;
  top:510px;
  width:112px;
  height:7px;
}
#u474 {
  position:absolute;
  left:2px;
  top:-4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  position:absolute;
  left:49px;
  top:63px;
  width:241px;
  height:16px;
}
#u477 {
  position:absolute;
  left:2px;
  top:0px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:9px;
}
#u478 {
  position:absolute;
  left:217px;
  top:67px;
  width:67px;
  height:9px;
}
#u479 {
  position:absolute;
  left:2px;
  top:-4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u480 {
  position:absolute;
  left:46px;
  top:78px;
  width:40px;
  height:40px;
}
#u481 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u482 {
  position:absolute;
  left:108px;
  top:87px;
  width:136px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  position:absolute;
  left:58px;
  top:163px;
  width:44px;
  height:18px;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u486 {
  position:absolute;
  left:58px;
  top:135px;
  width:44px;
  height:18px;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488 {
  position:absolute;
  left:58px;
  top:191px;
  width:44px;
  height:18px;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  position:absolute;
  left:58px;
  top:219px;
  width:44px;
  height:18px;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u492 {
  position:absolute;
  left:260px;
  top:129px;
  width:30px;
  height:30px;
}
#u493 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u494 {
  position:absolute;
  left:260px;
  top:186px;
  width:30px;
  height:30px;
}
#u495 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u496 {
  position:absolute;
  left:260px;
  top:215px;
  width:30px;
  height:30px;
}
#u497 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u498 {
  position:absolute;
  left:260px;
  top:157px;
  width:30px;
  height:30px;
}
#u499 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
