body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:527px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:105px;
  top:183px;
  width:250px;
  height:527px;
}
#u119 {
  position:absolute;
  left:2px;
  top:256px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:524px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:106px;
  top:184px;
  width:247px;
  height:524px;
}
#u122 {
  position:absolute;
  left:2px;
  top:254px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:426px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:110px;
  top:231px;
  width:239px;
  height:426px;
}
#u124 {
  position:absolute;
  left:2px;
  top:205px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:174px;
  top:203px;
  width:112px;
  height:7px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:7px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:174px;
  top:676px;
  width:112px;
  height:7px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:108px;
  top:229px;
  width:241px;
  height:16px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:9px;
}
#u132 {
  position:absolute;
  left:276px;
  top:233px;
  width:67px;
  height:9px;
}
#u133 {
  position:absolute;
  left:2px;
  top:-4px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:37px;
}
#u134 {
  position:absolute;
  left:110px;
  top:619px;
  width:239px;
  height:37px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u137 {
  position:absolute;
  left:312px;
  top:623px;
  width:30px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u139 {
  position:absolute;
  left:215px;
  top:626px;
  width:30px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u141 {
  position:absolute;
  left:124px;
  top:626px;
  width:29px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC3300;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:-20px;
  top:0px;
  width:279px;
  height:232px;
}
#u143 {
  position:absolute;
  left:110px;
  top:245px;
  width:239px;
  height:192px;
}
#u144 {
  position:absolute;
  left:2px;
  top:88px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u145 {
  position:absolute;
  left:110px;
  top:245px;
  width:239px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u146 {
  position:absolute;
  left:32px;
  top:14px;
  width:205px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u147 {
  position:absolute;
  left:110px;
  top:293px;
  width:239px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u148 {
  position:absolute;
  left:32px;
  top:14px;
  width:205px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u149 {
  position:absolute;
  left:110px;
  top:341px;
  width:239px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u150 {
  position:absolute;
  left:32px;
  top:14px;
  width:205px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u151 {
  position:absolute;
  left:110px;
  top:389px;
  width:239px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u152 {
  position:absolute;
  left:32px;
  top:14px;
  width:205px;
  word-wrap:break-word;
}
